.validation-summary {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
}

.validation-summary p {
  margin-left: 10px;
}
