.message-window {
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  .load-more {
    text-align: center;
    color: #1976d2;
    cursor: pointer;
  }

  .message {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

    .message-title {
      font-weight: bold;
      font-size: 10px;
    }

    .message-id {
      text-align: right;
      font-size: 10px;
    }
  }
}
